<?xml version="1.0" encoding="utf-8"?>
<!--
 * Created V/26/06/2015
 * Updated D/06/10/2019
 *
 * Copyright 2015-2020 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * Copyright 2015-2016 | Fabrice Creuzot <fabrice.creuzot~label-park~com>
 * https://www.luigifab.fr/magento/urlnosql
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
-->

<config>
	<tabs>
		<luigifab translate="label">
			<label>Tools</label>
			<sort_order>103</sort_order>
		</luigifab>
	</tabs>
	<sections>
		<urlnosql translate="label">
			<label>Product URL rewrite</label>
			<tab>luigifab</tab>
			<sort_order>90</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<help>
					<frontend_model>urlnosql/adminhtml_config_help</frontend_model>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
				</help>
				<general translate="label">
					<label>General</label>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<expanded>1</expanded>
					<fields>
						<enabled translate="label comment">
							<label>Enable</label>
							<comment><![CDATA[Disables the <strong>url_key</strong> product attribute.<br />Disables products URLs reindexation.<br />Effective immediately.]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</enabled>
						<attributes translate="label comment">
							<label>Attributes to use</label>
							<comment><![CDATA[Example: www.example.org/id-<strong>abc-xyz</strong>.html<br />Attributes separated by a space.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</attributes>
						<ignore translate="label comment">
							<label>Values to ignore</label>
							<comment>Allows to filter the values of previous attributes. Values separated by a space.</comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</ignore>
						<oldids translate="label comment">
							<label>Attribute used for old products ids</label>
							<comment>Allows to redirect deleted products to the new ones. The attribute must be unique and global. On the product page, values separated by a comma or a space.</comment>
							<frontend_type>select</frontend_type>
							<source_model>urlnosql/source_attribute</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</oldids>
						<redirect translate="label comment">
							<label>Redirect non rewritten URLs</label>
							<comment><![CDATA[For example <em>catalog/product/view/id</em> to <em>id-xyz.html</em>.]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</redirect>
						<show_rewrite_tab translate="label comment">
							<label>Automatically display the product URL rewrite tab</label>
							<comment>When displaying the modification page of a product in the backend.</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</show_rewrite_tab>
					</fields>
				</general>
				<example translate="label">
					<label>Example with the latest created product</label>
					<frontend_model>urlnosql/adminhtml_config_example</frontend_model>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
				</example>
			</groups>
		</urlnosql>
		<catalog>
			<groups>
				<seo>
					<fields>
						<product_use_categories translate="comment">
							<frontend_model>urlnosql/adminhtml_config_comment</frontend_model>
							<comment><![CDATA[See {{Product URL rewrite}}.]]></comment>
						</product_use_categories>
						<save_rewrites_history translate="comment">
							<frontend_model>urlnosql/adminhtml_config_comment</frontend_model>
							<comment><![CDATA[See {{Product URL rewrite}}.]]></comment>
						</save_rewrites_history>
					</fields>
				</seo>
			</groups>
		</catalog>
	</sections>
</config>