<?xml version="1.0" encoding="utf-8"?>
<!--
 * Created V/26/06/2015
 * Updated L/10/10/2022
 *
 * Copyright 2015-2023 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * Copyright 2015-2016 | Fabrice Creuzot <fabrice.creuzot~label-park~com>
 * Copyright 2020-2023 | Fabrice Creuzot <fabrice~cellublue~com>
 * https://github.com/luigifab/openmage-urlnosql
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
-->

<config>
	<modules>
		<Luigifab_Urlnosql>
			<version>4.5.0</version>
		</Luigifab_Urlnosql>
	</modules>
	<global>
		<blocks>
			<urlnosql>
				<class>Luigifab_Urlnosql_Block</class>
			</urlnosql>
			<adminhtml>
				<rewrite>
					<catalog_form_renderer_attribute_urlkey>Luigifab_Urlnosql_Block_Adminhtml_Rewrite_Urlkey</catalog_form_renderer_attribute_urlkey>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<urlnosql>
				<class>Luigifab_Urlnosql_Helper</class>
			</urlnosql>
		</helpers>
		<models>
			<urlnosql>
				<class>Luigifab_Urlnosql_Model</class>
			</urlnosql>
			<catalog>
				<rewrite>
					<url>Luigifab_Urlnosql_Model_Rewrite_Url</url>
					<indexer_url>Luigifab_Urlnosql_Model_Rewrite_Indexerurl</indexer_url>
					<product_url>Luigifab_Urlnosql_Model_Rewrite_Producturl</product_url>
					<product_attribute_backend_urlkey>Luigifab_Urlnosql_Model_Rewrite_Urlkey</product_attribute_backend_urlkey>
					<product_api>Luigifab_Urlnosql_Model_Rewrite_Productapi1</product_api>
					<product_api_v2>Luigifab_Urlnosql_Model_Rewrite_Productapi2</product_api_v2>
				</rewrite>
			</catalog>
			<sitemap_resource>
				<rewrite>
					<catalog_product>Luigifab_Urlnosql_Model_Rewrite_Sitemap</catalog_product>
				</rewrite>
			</sitemap_resource>
		</models>
		<events>
			<controller_front_init_routers>
				<observers>
					<urlnosql>
						<class>Luigifab_Urlnosql_Controller_Router</class>
						<method>initControllerRouters</method>
					</urlnosql>
				</observers>
			</controller_front_init_routers>
			<controller_front_init_before>
				<observers>
					<urlnosql>
						<class>urlnosql/observer</class>
						<method>redirectToRewrite</method>
					</urlnosql>
				</observers>
			</controller_front_init_before>
		</events>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<urlnosql>
					<file>luigifab/urlnosql.xml</file>
				</urlnosql>
			</updates>
		</layout>
		<translate>
			<modules>
				<Luigifab_Urlnosql>
					<files>
						<default>Luigifab_Urlnosql.csv</default>
					</files>
				</Luigifab_Urlnosql>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<events>
			<controller_action_predispatch_catalog_product_view>
				<observers>
					<urlnosql>
						<class>urlnosql/observer</class>
						<method>checkProductUrl</method>
					</urlnosql>
				</observers>
			</controller_action_predispatch_catalog_product_view>
			<catalog_controller_product_init_before>
				<observers>
					<urlnosql>
						<class>urlnosql/observer</class>
						<method>updateCategoryId</method>
					</urlnosql>
				</observers>
			</catalog_controller_product_init_before>
		</events>
		<routers>
			<urlnosql>
				<use>standard</use>
				<args>
					<module>Luigifab_Urlnosql</module>
					<frontName>urlnosql</frontName>
				</args>
			</urlnosql>
		</routers>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Luigifab_Urlnosql before="Mage_Adminhtml">Luigifab_Urlnosql</Luigifab_Urlnosql>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>